<div class="row">
    
  <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
    <div class="smallstat box">
      <i class="medical-icon-i-waiting-area blue"></i>
      <span class="title">Pateints Arrived (New)</span>
      <span class="value">10</span>
    </div>
  </div><!--/col-->
  
  <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
    <div class="smallstat box">
      <i class="medical-icon-i-inpatient red"></i>
      <span class="title">Patients called to Room</span>
      <span class="value">20</span>
    </div>
  </div><!--/col-->
  
  <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
    <div class="smallstat box">
      <i class="medical-icon-i-alternative-complementary yellow"></i>
      <span class="title">Patients Undergo Intake</span>
      <span class="value">30</span>
    </div>
  </div><!--/col-->
  
  <div class="col-lg-3 col-sm-6 col-xs-6 col-xxs-12">
    <div class="smallstat box">
      <i class="medical-icon-i-outpatient green"></i>
      <span class="title">Patients Discharged</span>
      <span class="value">40</span>
    </div>
  </div><!--/col-->

</div><!--/row-->
